/* Add your custom styles here */
table {
  border-collapse: collapse;
  width: 25%;
  border: 5px solid #ddd;
}

th, td {
  border: 5px solid #ddd;
  padding: 8px;
  text-align: left;
}

span {
  font-size: 20px;
  font-weight: bolder;
}

/* Hide the fourth column (index 3, zero-based) in the table */
table tr td:nth-child(4),
table tr th:nth-child(4) {
  /* display: none; */
  display: none1;
}
